:root {
  --af-black: #12111e;
  --af-dark-grey: #2b2d42;
  --af-grey: #8d99ae;
  --af-white: #edf2f4;
  --af-pure-white: #ffffff;

  /* Red */
  --af-red: #ef233c;
  --af-dark-red: #d90429;

  /* Green */
  --af-green: #9ef01a;
  --af-dark-green: #008000;

  /* Blue */
  --af-teal: #2dd4bf;
  --af-blue: #00b4d8;
  --af-dark-blue: #0077b6;
}

.af-bg {
  background-color: var(--af-black);
}

.af-bg-grey {
  background-color: var(--af-dark-grey);
}

.af-text {
  color: var(--af-white);
}

.af-pure-white {
  color: var(--af-pure-white);
}

.af-black {
  color: var(--af-black);
}

.af-grey {
  color: var(--af-grey);
}

.af-nav-button {
  width: 3rem;
  height: 3rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
  /* border: 3px solid #fff; */
}

.af-nav-burger {
  width: 3rem;
  transition: all 0.8s ease-in-out;
  border-radius: 5px;
}

.af-nav-burger::before,
.af-nav-burger::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 2px;
  background-color: var(--af-white);
  transition: all 0.8s ease-in-out;
  border-radius: 5px;
}

.af-nav-burger::before {
  transform: translateY(-7px);
}

.af-nav-burger::after {
  transform: translateY(7px);
}

.af-nav-button.open .af-nav-burger::before {
  transform:  rotate(45deg) translate(0.5rem, -0.5rem) scale(0.8);
}

.af-nav-button.open .af-nav-burger::after {
  transform:  rotate(-45deg) translate(0.5rem, 0.5rem) scale(0.8);
}

.af-nav-bg {
  background-color: var(--af-dark-grey);
  transform: translate(-100%);
  transition: all 0.8s ease-in-out;
}

.af-cart-bg {
  background: linear-gradient(0deg, rgba(4,2,17,1) 0%, rgba(5,2,20,1) 35%, rgba(0,23,61,1) 100%);
  transform: translate(100%);
  transition: all 0.8s ease-in-out;
}

.af-nav-bg.open, .af-cart-bg.open {
  transform: translate(0%);
  opacity: 1;
}

.af-nav-inner, .af-cart-inner {
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.af-nav-bg.open .af-nav-inner, .af-cart-bg.open .af-cart-inner{
  opacity: 1;
}

.af-nav-social-media {
  transform: translate(-100%);
  transition: all 0.3s ease-in-out;
}

.af-nav-social-media:hover {
  transform: translate(-100%) scale(1.25);
  transition: all 0.3s ease-in-out;
}

.af-cart-items-container {
  overflow-y: scroll;
  max-height: 60vh;
  border-radius: 0.5rem;
  box-shadow: 2rem;
}

.af-width-cart {
  width: 500px;
}

.af-link-default{
  color: var(--af-white);
}

.af-link-default:hover{
  color: var(--af-teal);
}

.af-link-active {
  color: var(--af-teal);
  border-bottom: solid var(--af-teal);
}

.af-link-active:hover {
  color: var(--af-white);
}

.af-button {
  background-color: var(--af-teal);
  color: var(--af-black);
  border-radius: 0.25rem;
  box-shadow: 2rem;
  padding: 1.25rem;
}

.af-img-fit {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.af-cart-quantity {
  background-color: var(--af-black);
}

input.no-outline:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input.no-outline {
  background-color: var(--af-dark-grey);
  color: var(--af-pure-white);
}

textarea.af-text-area {
  background-color: var(--af-dark-grey);
  color: var(--af-pure-white);
  resize: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.af-gallery-image {
  height: 600px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  position: relative;
  z-index: 1;
}

.owl-carousel {
  z-index: 0;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 770px) {
  .af-cart-items-container {
    max-height: 50vh;
  }

  .af-width-cart {
    width: 300px;
  }

}